/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000fb7;
    color: #ffffff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 50px 20px;
    text-align: center;
    position: relative;
}

#home {
    background: url('bg.jpg') no-repeat center center/cover;
    color: #000877;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#home .overlay {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
}

#about, #contact {
    background-color: #ffffff;
    color: #000877;
}

#services {
    background-color: #ffffff;
    color: #000877;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    background-color: rgb(0, 109, 198);
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 0 10px rgb(0, 37, 170);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000877;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #ffffff;
    color: #000877;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
